<% if @products.present? %>

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://tarang-ui.netlify.app/stylesheets/main.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
	</script>

    <title>Document</title>
</head>

<body>
    <!-- Navbar Start -->
    <div class="nav-row">
        <div class="navbar">
            <ul class="nav">
                <!-- <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#"><i class="fa fa-bars"></i></a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-search"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-bell"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled"><i class="fa fa-shopping-bag"></i></a>
                </li>
            </ul>
        </div>
    </div>
    <!-- Navbar end -->

    <div class="container-fluid">
        <div class="slider">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <a href="https://www.w3schools.com/" target="blank">
                            <img src="dairy.jpg" class="d-block w-100" alt="...">
                        </a>
                    </div>
                    <div class="carousel-item">
                        <a href="https://www.w3schools.com/" target="blank">
                            <img src="dairy.jpg" class="d-block w-100" alt="...">
                        </a>
                    </div>
                    <div class="carousel-item">
                        <a href="https://www.w3schools.com/" target="blank">
                            <img src="dairy.jpg" class="d-block w-100" alt="...">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <h3 class="heading">PRODUCT IN YOUR AREA</h3>
        <hr>
	<% @products.each do |product| %>
        <div class="row">
            <!-- First -->
            <article class="tr-card tr-card-hor d-flex" id="card">
                <div class="tr-card-banner">
                    <!-- <img src="https://picsum.photos/id/211/600/400" alt="test image"> -->
                    <%= image_tag product.image_url %>
                </div>

                <div class="tr-card-body flex-col">
                    <div class="tr-card-header">
                        <h2 class="title"><%= product.name%></h2>
                        <h3 class="subtitle"><%= product.discription%></h3>
                    </div>

                    <div class="pdt-price d-flex">
                        <div class="curr-price">
                            ₹<%= product.price%>
                        </div>
                        <div class="prev-price">
                            ₹<%= product.discount%>
                        </div>
                    </div>

                    <div class="tr-card-footer-links flex-col gap-sm">
                        <a href="#" class="tr-btn tr-btn-secondary">
                            Add to cart
                        </a>
                        <a href="/products/<%= product.id%>" class="tr-btn tr-btn-primary">
                            Buy Now
                        </a>
                    </div>
                </div>
            </article>
        </div>
	<% end %>
    </div>
</body>
</html>

<% end %>

<style type="text/css">
	.nav-row {
    justify-content: end;
    text-align: end;
    float: right;
    background-color: blue;
}

.nav-item {
    margin-bottom: 10px;
}

.navbar ul {
    text-align: right;
    float: right;
    height: 4vh;
    /* display: none; */
}

.carousel-item img {
    width: 50%;
    height: 64vh;
}

.carousel-indicators [data-bs-target] {
    width: 26px;
    height: 21px;
    border-radius: 50%;
}

.heading {
    text-align: center;
    font-size: 25px;
    font-family: sans-serif;
    color: cornflowerblue;
}

hr {
    width: 100%;
    background-color: black;
    margin-top: 1px;
}

hr:not([size]) {
    height: 3px;
}

.row {
    padding: 15px;
    justify-content: center;
    align-items: center;
}

#card {
    margin: 10px;
    width: 450px;
}
</style>